#game-field{
	padding: 0;
	position: relative;
}

.leader-board{
    text-align: left;
    overflow: hidden;
    text-overflow: clip
}

#score-wrapper{
    overflow: hidden;
    min-width: 150px;
    max-width: 150px;
	background-color: white;
	color: black;
	font-size: 23px;
	opacity: 0.7;
	position: absolute;
	bottom: 50px;
	left: 25px;
	padding: 5px;
	border-radius: 5px;
}

#leader-board-wrapper{
	min-width: 250px;
	background-color: rgba(6, 209, 6,0.3);
	color: white;
	font-size: 18px;

	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
}

#leader-board{
    text-align: center;
	padding: 5px;
}

.modal-sm{
	min-width: 500px;
    width: 50%;
}

.modal-content{
	margin-top: 100px;
	background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5rem;
 
}
.modal-footer{
	clear: both;
	text-align: left;
}
.play-button{
	font-size: 20px;	
	display: block;
	margin: 5px auto 5px;
	width: 90%;
	background-color: #14933c;
	color: #FFFFFF;
}

.text-input{
	font-size: 20px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 90%;
	padding: 5px;
	border-radius: 5px;
}
